* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --darker-color: #2C3639;
  --dark-color: #3F4E4F;
  --even-lighter-color: #bb9f89ac;
  --light-color: #A27B5C;
  --lighter-color: #DCD7C9;
  --green: rgb(110, 158, 110);
  --red: rgb(159, 86, 86);
}

/* keyframes */

.bounce {
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0% {
  transform: translate(0, 0px);
  }
  50% {
  transform: translate(0, 5px);
  }
} 

body {
  background-color: #DCD7C9;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 2em;
}

h2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  color: var(--lighter-color)
}
input, select {
  margin-bottom: 2em;
}

select {
  padding-left: 1em;
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--even-lighter-color);
}

button {
  cursor: pointer;
  padding: 10px;
  background: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 2px;
}

form {
  margin-top: 2em;
}

p {
  padding-bottom: 1em;
}
/* 
select {
  color: var(--darker-color);
  width: 310px;
  padding: 15px;
  height: 25px;
} */

.diffcolorfont {
  color: var(--light-color);
}

.pfp {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.title {
  padding-bottom: 1em;
}

.formgroup {
  margin-top: 2em;
}

.textField, textarea {
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: var(--darker-color);
  
  border: solid 1px var(--darker-color);
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.textField:hover, textarea:hover {

  border: solid 1px var(--dark-color);
  background-color: #a79c9570;;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.textbox {
  height: 175px;
  padding-top: 1em;
}

#navigation {
  position: fixed;
  background-color: var(--darker-color);
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  box-shadow: 0 4px 2px -2px gray;
  max-height: 58px;
  width: 100%;
}

/* box encasing logo + title */
.logoDiv {
  color: var(--lighter-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--lighter-color);
}

/* coffee logo */
#logo {
  width: 60px;
  padding-right: 0.5em;
}

/* Links on nav bar */
#navigation ul a{ 
  color: var(--lighter-color);
  margin-left: 2em;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

#navigation ul a:hover{ 
  border-bottom: 1px solid white;
}

/* sign out button */
#navigation ul button{ 
  margin-left: 2em;
}

/* Body */
.all {
  /* border: solid 1px red; */
  padding-top: 8%;
  width: 75%;
  margin: 0 auto;
}

/* Green buttons */
.success {
  padding: 10px;
  background: transparent;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 2px;
}

.success:hover {
  transition: 0.5s;
  border: 1px solid rgb(110, 158, 110);
  color: rgb(110, 158, 110);
}

/* logout */
.logout {
  padding-left: 5px;
  padding-right: 5px;
  background: transparent;
  border: 1px solid rgb(191, 104, 82);
  color: rgb(191, 104, 82);
  border-radius: 2px;
  max-height: 27px;
}

.logout:hover {
  transition: 0.5s;
  background-color: rgb(82, 46, 37);
  border: 1px solid rgb(191, 71, 41);
  color: rgb(191, 71, 41);
}


@media only screen and (width <= 350px) {

  /* NAV-MOBILE */
  #logo {
    width: 40px;
    padding-right: 0.5em;
  }

  .logoTitle {
    font-size: 75%;
  }

  #navigation ul a{ 
    font-size: 60%;
  }

  .logout {
    font-size: 60%;
  }

  h1{
    font-size: 80%;
  }

  p{
    font-size: 70%
  }

.textField {
    width: 250px;
    height: 30px;
    margin-bottom: 1em;
    font-size: 70%;
  }

  .textbox {
    width: 250px;
    height: 100px;
    font-size: 70%;
    margin-bottom: 1em;
  }

  .mob {
    text-align: center;
  }

  .mob h1{
    padding-bottom: 1em;
  }

  .pfp{
    width: 100px;
    height: 100px;
  }

  .success {
    font-size: 60%;
  }

  .all {
    padding-top: 4em;
  }
}

.cross {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* SETUP */

.question {
  text-align: center;
  font-size: 300%;
}

.splitter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  height: 50vh;
}

.splitter div{
  border-radius: 5%;
}

.choice {
  position: relative;
  border: 2px solid var(--dark-color);
  border-radius: 5px;
  width: 70%;
  height: 40%;
  top: 29%;
  left: 15%;
  font-size: 180%;
  transition: 0.3s;
}

.choice:hover {
  border: 3px var(--green) dashed;
  color: var(--light-color);
  text-decoration: underline;
}

/* Multipage Buttons */

.buttonz {
  display: flex;
  justify-content: space-between;
}

.firstpage {
  width: 75vw;
  display: flex;
  justify-content: flex-end;
}

.back {
  font-size: 300%;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  transition: 0.5s;
}

.back:hover {
  color: var(--red);
}

.next {
  font-size: 300%;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  transition: 0.5s;
}
.next:hover {
  color: var(--green);
}

/* Setup - second page */

.second {
  text-align: center;
}
.second h2{
  font-size: 200%;
  margin-bottom: 2em;
}

/* Setup - third page */

.third {
  margin-top: -2em;
  text-align: center;
}

/* Setup - fourth page */

.fourth {
  text-align: center;
}

.fourth select {
  margin-left: 7em;
}

.fourth #add {
  margin-left: 2em;
}

/* Setup - REview page */

.review {
  text-align: center;
}

.review h1 {
  font-size: 200%;
}

.review button {
  width: 200px;
  height: 50px;
  font-size: 150%;
}

.reviewcontent {
  display: flex;
  padding-left: 30%;
  margin-top: 2em;
  margin-bottom: 2em;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.reviewcontent h3{
  padding-bottom: 1em;
}